<!DOCTYPE html>
<html>
<head>
  <title>Recipebox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



	<div class="container">

		<nav class="nav navbar-default">
			<div class="container-fluid"> 
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Recipe Box</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/recipes/new">Add Recipe</a></li>
						<li><a href="/">Sign Out</a></li>
					</ul>
				</div>
			</div>
		</nav>

		
		<% if alert %>
			<div class="alert alert-danger">
				<%= alert %>
			</div>
		<% end %>

		<% if notice %>
			<div class="alert alert-success">
				<%= notice %>
			</div>
		<% end %>

		<%= yield %>

	</div>	

</body>
</html>
